* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-cont {
    display: grid;
    grid-column: auto;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    height: 100vh;
    /* grid-template-areas: "a a a a  a a a a  a a a a"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                         "b b b b  b b b b  b b b b"
                        "c c c c  c c c c  c c c c"; */
    
}
.grid-cont > div {
    border: 5px solid red;
}
/* .tag1 {
    grid-area: a;
    
}
.tag2 {
    grid-area: b;
}
.tag3 {
    grid-area: c;

} */